* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.pink-color {
  color: rgb(241, 109, 127);
}

.header-menu {
  border: solid 1px rgb(236, 236, 236);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.header-menu__wrapper {
  display: flex;
  justify-content: space-between;
}

.header-menu__left,
.header-menu__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  list-style-type: none;
}

.header-nav__item {
  margin-right: 50px;
}

.slider {
  background-size: cover;
  background-position: center;
  background-image: url(img/bg-header.png);
  background-color: rgb(232, 232, 232);
}

.slider__wrapper {
  height: 665px;
  display: flex;
  align-items: center;
}

.rect {
  display: inline-block;
  width: 12px;
  height: 92px;

  background-color: rgb(241, 109, 127);
}

.slider__heading {
  max-width: 500px;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
}

.featured-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-items__list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.featured-items__link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.featured-items__pic {
  order: -1;
}

.feature__wrapper {
  display: flex;
  min-height: 530px;
}

.feature__heading {
  padding-top: 150px;
  flex-grow: 1;

  background-image: url(img/feature-banner.png);
  background-size: cover;
}

.feature__list {
  max-width: 375px;

  list-style-type: none;

  background-color: rgb(34, 34, 36);
}

.subscribe {
  min-height: 440px;
  
  background-image: 
    linear-gradient(to bottom, rgba(242, 242, 242, 0.502), rgba(242, 242, 242, 0.502)),   
    url(img/sub-bg.png);
    background-size: cover;
}

.subscribe__wrapper {
  display: flex;
  justify-content: space-around;
}

.subscribe__quote {
  max-width: 50%;
}

.subscribe__form {
  max-width: 50%;
}

.footer__top {
  display: flex;
}

.footer-nav {
  flex-grow: 1;
}

.footer__about-us {
  max-width: 430px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;

  list-style-type: none;
}

.footer-nav__list--main {
  flex-direction: row;
  justify-content: space-around;
}

.footer__bottom {
  background-color: rgb(230, 230, 230);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__social-list {
  display: flex;

  list-style-type: none;
}

